assets/PAGschema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.interlis.ch/INTERLIS2.3" xmlns:ili2c="http://www.interlis.ch/ili2c" targetNamespace="http://www.interlis.ch/INTERLIS2.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo source="http://www.interlis.ch/ili2c/ili2cversion">4.5.7-20150130</xsd:appinfo>
    <xsd:appinfo source="http://www.interlis.ch/ili2c">
      <ili2c:model>PAG</ili2c:model>
      <ili2c:modelVersion>2015-04-01</ili2c:modelVersion>
      <ili2c:modelAt>mailto:david.hottua@mi.etat.lu</ili2c:modelAt>
      <ili2c:textMinimalCharset>ili23AnnexB</ili2c:textMinimalCharset>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="TRANSFER" type="Transfer"/>
  <xsd:simpleType name="IliID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z_][0-9a-zA-Z_\-\.]*:)?[0-9a-zA-Z_][0-9a-zA-Z_\-\.]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Transfer">
    <xsd:sequence>
      <xsd:element name="HEADERSECTION" type="HeaderSection"/>
      <xsd:element name="DATASECTION" type="DataSection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Models">
    <xsd:sequence>
      <xsd:element name="MODEL" type="Model" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Model">
    <xsd:attribute name="NAME" type="INTERLIS.NAME" use="required"/>
    <xsd:attribute name="VERSION" type="xsd:string" use="required"/>
    <xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="REF" type="IliID" use="required"/>
        <xsd:attribute name="BID" type="IliID"/>
        <xsd:attribute name="ORDER_POS" type="xsd:positiveInteger"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DataSection">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="PAG.GESTION" type="PAG.GESTION"/>
        <xsd:element name="PAG.ARTIKEL17" type="PAG.ARTIKEL17"/>
        <xsd:element name="PAG.PAG" type="PAG.PAG"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PAG.LUREF">
    <xsd:sequence>
      <xsd:element name="COORD" type="CoordValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType  name="PAG.GESTION.Gestion">
    <xsd:sequence>
      <xsd:element name="ID_COMMUNE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="C001"/>
            <xsd:enumeration value="C002"/>
            <xsd:enumeration value="C003"/>
            <xsd:enumeration value="C004"/>
            <xsd:enumeration value="C005"/>
            <xsd:enumeration value="C006"/>
            <xsd:enumeration value="C007"/>
            <xsd:enumeration value="C008"/>
            <xsd:enumeration value="C009"/>
            <xsd:enumeration value="C010"/>
            <xsd:enumeration value="C011"/>
            <xsd:enumeration value="C012"/>
            <xsd:enumeration value="C013"/>
            <xsd:enumeration value="C014"/>
            <xsd:enumeration value="C015"/>
            <xsd:enumeration value="C016"/>
            <xsd:enumeration value="C017"/>
            <xsd:enumeration value="C018"/>
            <xsd:enumeration value="C019"/>
            <xsd:enumeration value="C020"/>
            <xsd:enumeration value="C022"/>
            <xsd:enumeration value="C023"/>
            <xsd:enumeration value="C024"/>
            <xsd:enumeration value="C026"/>
            <xsd:enumeration value="C027"/>
            <xsd:enumeration value="C028"/>
            <xsd:enumeration value="C029"/>
            <xsd:enumeration value="C030"/>
            <xsd:enumeration value="C031"/>
            <xsd:enumeration value="C032"/>
            <xsd:enumeration value="C033"/>
            <xsd:enumeration value="C034"/>
            <xsd:enumeration value="C037"/>
            <xsd:enumeration value="C038"/>
            <xsd:enumeration value="C039"/>
            <xsd:enumeration value="C040"/>
            <xsd:enumeration value="C041"/>
            <xsd:enumeration value="C042"/>
            <xsd:enumeration value="C043"/>
            <xsd:enumeration value="C045"/>
            <xsd:enumeration value="C046"/>
            <xsd:enumeration value="C047"/>
            <xsd:enumeration value="C048"/>
            <xsd:enumeration value="C049"/>
            <xsd:enumeration value="C050"/>
            <xsd:enumeration value="C051"/>
            <xsd:enumeration value="C052"/>
            <xsd:enumeration value="C053"/>
            <xsd:enumeration value="C054"/>
            <xsd:enumeration value="C055"/>
            <xsd:enumeration value="C056"/>
            <xsd:enumeration value="C057"/>
            <xsd:enumeration value="C058"/>
            <xsd:enumeration value="C059"/>
            <xsd:enumeration value="C060"/>
            <xsd:enumeration value="C061"/>
            <xsd:enumeration value="C062"/>
            <xsd:enumeration value="C063"/>
            <xsd:enumeration value="C064"/>
            <xsd:enumeration value="C066"/>
            <xsd:enumeration value="C067"/>
            <xsd:enumeration value="C068"/>
            <xsd:enumeration value="C069"/>
            <xsd:enumeration value="C070"/>
            <xsd:enumeration value="C071"/>
            <xsd:enumeration value="C072"/>
            <xsd:enumeration value="C074"/>
            <xsd:enumeration value="C075"/>
            <xsd:enumeration value="C076"/>
            <xsd:enumeration value="C077"/>
            <xsd:enumeration value="C078"/>
            <xsd:enumeration value="C079"/>
            <xsd:enumeration value="C080"/>
            <xsd:enumeration value="C081"/>
            <xsd:enumeration value="C082"/>
            <xsd:enumeration value="C084"/>
            <xsd:enumeration value="C085"/>
            <xsd:enumeration value="C086"/>
            <xsd:enumeration value="C087"/>
            <xsd:enumeration value="C088"/>
            <xsd:enumeration value="C089"/>
            <xsd:enumeration value="C090"/>
            <xsd:enumeration value="C092"/>
            <xsd:enumeration value="C095"/>
            <xsd:enumeration value="C096"/>
            <xsd:enumeration value="C097"/>
            <xsd:enumeration value="C098"/>
            <xsd:enumeration value="C099"/>
            <xsd:enumeration value="C101"/>
            <xsd:enumeration value="C103"/>
            <xsd:enumeration value="C104"/>
            <xsd:enumeration value="C105"/>
            <xsd:enumeration value="C107"/>
            <xsd:enumeration value="C109"/>
            <xsd:enumeration value="C110"/>
            <xsd:enumeration value="C111"/>
            <xsd:enumeration value="C112"/>
            <xsd:enumeration value="C113"/>
            <xsd:enumeration value="C114"/>
            <xsd:enumeration value="C115"/>
            <xsd:enumeration value="C116"/>
            <xsd:enumeration value="C120"/>
            <xsd:enumeration value="C121"/>
            <xsd:enumeration value="C122"/>
            <xsd:enumeration value="C125"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_BUR_ET">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="2000-01-01"/>
            <xsd:maxInclusive value="2099-01-01"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PAG.GESTION">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="PAG.GESTION.Gestion" type="PAG.GESTION.Gestion"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.ARTIKEL17.BIOTOPE_LIGNE">
    <xsd:sequence>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="POLYLINE">
              <xsd:complexType>
                <xsd:choice minOccurs="2" maxOccurs="unbounded">
                  <xsd:element name="COORD" type="CoordValue"/>
                </xsd:choice>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Tm"/>
            <xsd:enumeration value="uW"/>
            <xsd:enumeration value="Wma"/>
            <xsd:enumeration value="She"/>
            <xsd:enumeration value="BG"/>
            <xsd:enumeration value="BR"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.ARTIKEL17.BIOTOPE_POINT">
    <xsd:sequence>
      <xsd:element name="GEOMETRIE" type="PAG.LUREF"/>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BK05"/>
            <xsd:enumeration value="FFH8220"/>
            <xsd:enumeration value="FFH7220"/>
            <xsd:enumeration value="FFH8210"/>
            <xsd:enumeration value="EB"/>
            <xsd:enumeration value="FFH8150"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.ARTIKEL17.BIOTOPE_POLY">
    <xsd:sequence>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FFH3260"/>
            <xsd:enumeration value="FFH7140"/>
            <xsd:enumeration value="BK06"/>
            <xsd:enumeration value="BK04"/>
            <xsd:enumeration value="FFH3150"/>
            <xsd:enumeration value="FFH3140"/>
            <xsd:enumeration value="FFH3130"/>
            <xsd:enumeration value="BK08"/>
            <xsd:enumeration value="Gb"/>
            <xsd:enumeration value="Gbf"/>
            <xsd:enumeration value="EC"/>
            <xsd:enumeration value="BK11"/>
            <xsd:enumeration value="FFH8310"/>
            <xsd:enumeration value="FFH6410"/>
            <xsd:enumeration value="FFH8160"/>
            <xsd:enumeration value="FFH6110"/>
            <xsd:enumeration value="FFH8230"/>
            <xsd:enumeration value="BK07"/>
            <xsd:enumeration value="BK10"/>
            <xsd:enumeration value="FFH6510"/>
            <xsd:enumeration value="FFH6210"/>
            <xsd:enumeration value="FFH5130"/>
            <xsd:enumeration value="FFH4030"/>
            <xsd:enumeration value="FFH6230"/>
            <xsd:enumeration value="FFH6430"/>
            <xsd:enumeration value="BK09"/>
            <xsd:enumeration value="BG"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PAG.ARTIKEL17">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="PAG.ARTIKEL17.BIOTOPE_LIGNE" type="PAG.ARTIKEL17.BIOTOPE_LIGNE"/>
        <xsd:element name="PAG.ARTIKEL17.BIOTOPE_POINT" type="PAG.ARTIKEL17.BIOTOPE_POINT"/>
        <xsd:element name="PAG.ARTIKEL17.BIOTOPE_POLY" type="PAG.ARTIKEL17.BIOTOPE_POLY"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.ALIGN_A_RESP">
    <xsd:sequence>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="POLYLINE">
              <xsd:complexType>
                <xsd:choice minOccurs="2" maxOccurs="unbounded">
                  <xsd:element name="COORD" type="CoordValue"/>
                </xsd:choice>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.BATIMENT">
    <xsd:sequence>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.CONST_A_CONS_POINT">
    <xsd:sequence>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE" type="PAG.LUREF"/>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.CONST_A_CONS_POLY">
    <xsd:sequence>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.COULOIRS_ET_ESP_RES">
    <xsd:sequence>
      <xsd:element name="CODE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CPR"/>
            <xsd:enumeration value="CPF"/>
            <xsd:enumeration value="CPMD"/>
            <xsd:enumeration value="CP_EU"/>
            <xsd:enumeration value="CP_R_EP"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LARGEUR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="100.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="POLYLINE">
              <xsd:complexType>
                <xsd:choice minOccurs="2" maxOccurs="unbounded">
                  <xsd:element name="COORD" type="CoordValue"/>
                </xsd:choice>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.EMPLAC_STAT">
    <xsd:sequence>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.GABARIT_A_SAUV_POINT">
    <xsd:sequence>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE" type="PAG.LUREF"/>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.GABARIT_A_SAUV_POLY">
    <xsd:sequence>
      <xsd:element name="CATEGORIE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.NQ_PAP">
    <xsd:sequence>
      <xsd:element name="COS_MIN" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="1.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="COS_MAX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="1.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CUS_MIN" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="10.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CUS_MAX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="10.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CSS_MAX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="1.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DL_MIN" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DL_MAX" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DENOMINATION" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER_SD_EC" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER_EC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER_SD_GR" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.NQ_ZAD">
    <xsd:sequence>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.PAP_APPROUVE">
    <xsd:sequence>
      <xsd:element name="NOM_FICHIER_EC" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER_GR" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.PCN">
    <xsd:sequence>
      <xsd:element name="NUM_CADAST">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.PERIMETRE">
    <xsd:sequence>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.ZONAGE">
    <xsd:sequence>
      <xsd:element name="CATEGORIE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HAB_1"/>
            <xsd:enumeration value="HAB_2"/>
            <xsd:enumeration value="MIX_c"/>
            <xsd:enumeration value="MIX_u"/>
            <xsd:enumeration value="MIX_v"/>
            <xsd:enumeration value="MIX_r"/>
            <xsd:enumeration value="BEP"/>
            <xsd:enumeration value="ECO_c1"/>
            <xsd:enumeration value="ECO_c2"/>
            <xsd:enumeration value="ECO_r1"/>
            <xsd:enumeration value="ECO_r2"/>
            <xsd:enumeration value="ECO_n"/>
            <xsd:enumeration value="SP_n"/>
            <xsd:enumeration value="COM"/>
            <xsd:enumeration value="MIL"/>
            <xsd:enumeration value="SPEC"/>
            <xsd:enumeration value="AERO"/>
            <xsd:enumeration value="PORT"/>
            <xsd:enumeration value="GARE"/>
            <xsd:enumeration value="REC"/>
            <xsd:enumeration value="JAR"/>
            <xsd:enumeration value="AGR"/>
            <xsd:enumeration value="FOR"/>
            <xsd:enumeration value="VIT"/>
            <xsd:enumeration value="HOR"/>
            <xsd:enumeration value="PARC"/>
            <xsd:enumeration value="VERD"/>
            <xsd:enumeration value="AGRI"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GENRE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.ZONE_SERV_URB">
    <xsd:sequence>
      <xsd:element name="CODE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LIB" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.ZONES_QE">
    <xsd:sequence>
      <xsd:element name="NOM_FICHIER_EC_GEN" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER_EC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER_GR" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="PAG.PAG.ZONES_SUPERPOSEES">
    <xsd:sequence>
      <xsd:element name="CATEGORIE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ZUP_1"/>
            <xsd:enumeration value="ZUP_2"/>
            <xsd:enumeration value="SPI_EC"/>
            <xsd:enumeration value="SPI_ENP"/>
            <xsd:enumeration value="ZRNP_G"/>
            <xsd:enumeration value="ZRNP_M"/>
            <xsd:enumeration value="ZRNP_I"/>
            <xsd:enumeration value="ZR_SD"/>
            <xsd:enumeration value="ZB"/>
            <xsd:enumeration value="ZE"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NOM_FICHIER">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GEOMETRIE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GENRE" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PAG.PAG">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="PAG.PAG.ALIGN_A_RESP" type="PAG.PAG.ALIGN_A_RESP"/>
        <xsd:element name="PAG.PAG.BATIMENT" type="PAG.PAG.BATIMENT"/>
        <xsd:element name="PAG.PAG.CONST_A_CONS_POINT" type="PAG.PAG.CONST_A_CONS_POINT"/>
        <xsd:element name="PAG.PAG.CONST_A_CONS_POLY" type="PAG.PAG.CONST_A_CONS_POLY"/>
        <xsd:element name="PAG.PAG.COULOIRS_ET_ESP_RES" type="PAG.PAG.COULOIRS_ET_ESP_RES"/>
        <xsd:element name="PAG.PAG.EMPLAC_STAT" type="PAG.PAG.EMPLAC_STAT"/>
        <xsd:element name="PAG.PAG.GABARIT_A_SAUV_POINT" type="PAG.PAG.GABARIT_A_SAUV_POINT"/>
        <xsd:element name="PAG.PAG.GABARIT_A_SAUV_POLY" type="PAG.PAG.GABARIT_A_SAUV_POLY"/>
        <xsd:element name="PAG.PAG.NQ_PAP" type="PAG.PAG.NQ_PAP"/>
        <xsd:element name="PAG.PAG.NQ_ZAD" type="PAG.PAG.NQ_ZAD"/>
        <xsd:element name="PAG.PAG.PAP_APPROUVE" type="PAG.PAG.PAP_APPROUVE"/>
        <xsd:element name="PAG.PAG.PCN" type="PAG.PAG.PCN"/>
        <xsd:element name="PAG.PAG.PERIMETRE" type="PAG.PAG.PERIMETRE"/>
        <xsd:element name="PAG.PAG.ZONAGE" type="PAG.PAG.ZONAGE"/>
        <xsd:element name="PAG.PAG.ZONE_SERV_URB" type="PAG.PAG.ZONE_SERV_URB"/>
        <xsd:element name="PAG.PAG.ZONES_QE" type="PAG.PAG.ZONES_QE"/>
        <xsd:element name="PAG.PAG.ZONES_SUPERPOSEES" type="PAG.PAG.ZONES_SUPERPOSEES"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CoordValue">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="INTERLIS.NAME">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeaderSection">
    <xsd:sequence>
      <xsd:element name="MODELS" type="Models"/>
      <xsd:element name="COMMENT" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="VERSION" type="xsd:decimal" use="required" fixed="2.3"/>
    <xsd:attribute name="SENDER" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:schema>
